

/* Your code starts here! */
body{
	box-sizing:border-box;
	padding: 0;
	margin-top:0;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
	max-width: 100%;
}


header nav a{
	color:grey;
	display:inline-block;
	width:14%;
	text-align: center;
	margin:0 auto;
}

.title{
	font-size: 64px;
	display: inline-block;
	text-align: center;
	width: 33%;
	margin-left:10%;
	padding:2%;
	
}
.button {
	border:2px solid grey;
	padding: 0 0 0 2px;
	text-align: center;
	display: inline-block;
	width:135px;
	
}
#innovation{
	border-bottom: 2px solid grey;
	width: 100%;
	
}
.middle-section {
	width: 100%;
   }
   .top-half {
	   width: 100%;
   }
   .top-half .block {
	   width: 33%;
	   margin-left: 10%;
	   padding: 2%;
   }
   .middle {
	   width: 100%;
   }
   .middle .block {
	   width: 80%;
	   padding-left: 18%;
   }
   .bottom-half {
	   width: 100%;
	   border-bottom: 2px solid grey;
	   padding-bottom: 2%;
   }
   .bottom-half .block {
	   width: 33%;
	   margin: 0 auto;
	   
   }

.circleimg{
	display: inline-block;
	width: 33%;
	margin-left:10%;
	padding:2%;
	padding-bottom:5%;
}
.block{
	display: inline-block;
}
.middle-img{
	width:100%
}
footer{
	text-align:center;
}